*.pyc
**/*.pyc
**/__pycache__/**
*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
venv/
.idea/
/inferrer/logs/
/modelhost/logs/
/modelhost/flask_app/models/
testing/
/inferrer/flask_app/data/*

crearimagenes.yaml
