*.pyc
*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
./venv
./.idea
./FractalMLServer-Lite/.idea/
./FractalMLServer-Lite/venv/
./FractalMLServer-Lite/.venv/
./FractalMLServer-Lite/inferrer/logs/
./FractalMLServer-Lite/modelhost/logs/
.idea
venv
FractalMLServer-Lite/inferrer/logs/
FractalMLServer-Lite/modelhost/logs/
