*.pyc
*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
./venv
./.idea
./FractalMLServer-Lite/.idea/
./FractalMLServer-Lite/venv/
./FractalMLServer-Lite/.venv/
./FractalMLServer-Lite/inferrer/logs/
FractalMLServer-Lite/modelhost/logs/
.idea
venv
FractalMLServer-Lite/inferrer/logs/

./FractalMLServer-Lite/modelhost/flask_app/models/
FractalMLServer-Lite/deploy/.env
FractalMLServer-Lite/deploy/docker-compose.yml
FractalMLServer-Lite/deploy/service-configurations/nginx-config/project.conf
**/.env
**/docker-compose.yml
**/project.conf
